<section class="artists-section" id="artist">
  <div class="container">
    <div class="artists-section-head">
      <h2 class="artists-section-label">Artists</h2>
      <h3 class="artists-section-title">Explore Your New Favorite Artists</h3>
    </div>
    <div class="artists-layout">
      <ul class="artists-list js-artists"></ul>
    </div>
    <button class="load-more-btn btn-hover" type="button" style="display: none">
      Load More
      <svg class="icon icon-arrow" width="20" height="20">
        <use href="/assets/icons/sprite.svg#icon-right-arrow-alt"></use>
      </svg>
    </button>
  </div>
</section>
