<dialog class="artist-modal" aria-labelledby="artist-title">
  <div class="artist-modal-content">
    <button
      class="modal-btn-close"
      type="button"
      aria-label="Close artist modal"
    >
      <svg class="btn-close-icon" width="32" height="32">
        <use href="../assets/icons/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <h2 class="artist-title" id="artist-title">Unlike Pluto</h2>
    <div class="artist-wrapper">
      <img
        class="artist-ill"
        src="../images/artist-modal/img.png"
        alt="Unlike Pluto"
      />

      <div class="artist-info-wrapper">
        <dl class="meta">
          <div class="meta-row">
            <dt>Years active</dt>
            <dd>2013-present</dd>
          </div>
          <div class="meta-row">
            <dt>Sex</dt>
            <dd>Male</dd>
          </div>

          <div class="meta-row">
            <dt>Members</dt>
            <dd>1</dd>
          </div>

          <div class="meta-row">
            <dt>Country</dt>
            <dd>United States</dd>
          </div>
        </dl>
        <div class="biography">
          <h3 class="biography-caption">Biography</h3>
          <p class="biography-descr">
            Armond Arabshahi, known by his stage name Unlike Pluto, is an
            American singer, songwriter, music producer, and former DJ. He is
            mainly known for his song "Everything Black", released under the
            record label Monstercat in 2017, which he produced with
            Philadelphia-based vocalist and DJ Mike Taylor. Armond Arabshahi,
            known by his stage name Unlike Pluto, is an American singer,
            songwriter, music producer, and former DJ. He is mainly known for
            his song "Everything Black", released under the record label
            Monstercat in 2017, which he produced with Philadelphia-based
            vocalist and DJ Mike Taylor. Armond Arabshahi, known by his stage
            name Unlike Pluto, is an American singer, songwriter, music
            producer, and former DJ. He is mainly known for his song "Everything
            Black", released under the record label Monstercat in 2017, which he
            produced with Philadelphia-based vocalist and DJ Mike Taylor. Armond
            Arabshahi, known by his stage name Unlike Pluto, is an American
            singer, songwriter, music producer, and former DJ. He is mainly
            known for his song "Everything Black", released under the record
            label Monstercat in 2017, which he produced with Philadelphia-based
            vocalist and DJ Mike Taylor. Armond Arabshahi, known by his stage
            name Unlike Pluto, is an American singer, songwriter, music
            producer, and former DJ. He is mainly known for his song "Everything
            Black", released under the record label Monstercat in 2017, which he
            produced with Philadelphia-based vocalist and DJ Mike Taylor.
          </p>
        </div>

        <ul class="genres-list">
          <li class="genre-item">Alternative</li>
        </ul>
      </div>
    </div>
    <!-- Albums section -->
    <section class="albums">
      <h3 class="albums-title">Albums</h3>
      <ul class="albums-list">
        <li class="album">
          <h4 class="album-title">Ghost Gardens</h4>

          <table class="tracks-table">
            <thead>
              <tr>
                <th scope="col">Track</th>
                <th scope="col">Time</th>
                <th scope="col">Link</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Rip Me Apart</td>
                <td>3:02</td>
                <td>
                  <a href="#" aria-label="Play Rip Me Apart"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>

              <tr>
                <td>Dig</td>
                <td>2:54</td>
                <td>
                  <a href="#" aria-label="Play Dig"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>

              <tr>
                <td>Tremor</td>
                <td>2:02</td>
                <td>
                  <a href="#" aria-label="Play Tremor"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Tremor</td>
                <td>2:02</td>
                <td>
                  <a href="#" aria-label="Play Tremor"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Tremor</td>
                <td>2:02</td>
                <td>
                  <a href="#" aria-label="Play Tremor"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </li>
        <li class="album">
          <h4 class="album-title">Ghost Gardens</h4>

          <table class="tracks-table">
            <thead>
              <tr>
                <th>Track</th>
                <th>Time</th>
                <th>Link</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Rip Me Apart</td>
                <td>3:02</td>
                <td>
                  <a href="#" aria-label="Play Rip Me Apart"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>

              <tr>
                <td>Dig</td>
                <td>2:54</td>
                <td>
                  <a href="#" aria-label="Play Dig"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>

              <tr>
                <td>Tremor</td>
                <td>2:02</td>
                <td>
                  <a href="#" aria-label="Play Tremor"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </li>
        <li class="album">
          <h4 class="album-title">Ghost Gardens</h4>

          <table class="tracks-table">
            <thead>
              <tr>
                <th>Track</th>
                <th>Time</th>
                <th>Link</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Rip Me Apart</td>
                <td>3:02</td>
                <td>
                  <a href="#" aria-label="Play Rip Me Apart"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>

              <tr>
                <td>Dig</td>
                <td>2:54</td>
                <td>
                  <a href="#" aria-label="Play Dig"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>

              <tr>
                <td>Tremor</td>
                <td>2:02</td>
                <td>
                  <a href="#" aria-label="Play Tremor"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Tremor</td>
                <td>2:02</td>
                <td>
                  <a href="#" aria-label="Play Tremor"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Tremor</td>
                <td>2:02</td>
                <td>
                  <a href="#" aria-label="Play Tremor"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </li>
        <li class="album">
          <h4 class="album-title">Ghost Gardens</h4>

          <table class="tracks-table">
            <thead>
              <tr>
                <th>Track</th>
                <th>Time</th>
                <th>Link</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Rip Me Apart</td>
                <td>3:02</td>
                <td>
                  <a href="#" aria-label="Play Rip Me Apart"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>

              <tr>
                <td>Dig</td>
                <td>2:54</td>
                <td>
                  <a href="#" aria-label="Play Dig"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>

              <tr>
                <td>Tremor</td>
                <td>2:02</td>
                <td>
                  <a href="#" aria-label="Play Tremor"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Tremor</td>
                <td>2:02</td>
                <td>
                  <a href="#" aria-label="Play Tremor"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Tremor</td>
                <td>2:02</td>
                <td>
                  <a href="#" aria-label="Play Tremor"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </li>
        <li class="album">
          <h4 class="album-title">Ghost Gardens</h4>

          <table class="tracks-table">
            <thead>
              <tr>
                <th>Track</th>
                <th>Time</th>
                <th>Link</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Rip Me Apart</td>
                <td>3:02</td>
                <td>
                  <a href="#" aria-label="Play Rip Me Apart"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>

              <tr>
                <td>Dig</td>
                <td>2:54</td>
                <td>
                  <a href="#" aria-label="Play Dig"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>

              <tr>
                <td>Tremor</td>
                <td>2:02</td>
                <td>
                  <a href="#" aria-label="Play Tremor"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </li>
        <li class="album">
          <h4 class="album-title">Ghost Gardens</h4>

          <table class="tracks-table">
            <thead>
              <tr>
                <th>Track</th>
                <th>Time</th>
                <th>Link</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Rip Me Apart</td>
                <td>3:02</td>
                <td>
                  <a href="#" aria-label="Play Rip Me Apart"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>

              <tr>
                <td>Dig</td>
                <td>2:54</td>
                <td>
                  <a href="#" aria-label="Play Dig"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>

              <tr>
                <td>Tremor</td>
                <td>2:02</td>
                <td>
                  <a href="#" aria-label="Play Tremor"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </li>
      </ul>
    </section>
  </div>
</dialog>

<!--! Цей Script потрібно буде видалити, коли реалізуємо відкриття модального вікна по кнопці  -->
<script>
  const modal = document.querySelector('.artist-modal');
  modal.showModal();
</script>
