<dialog
  class="artist-modal js-artist-modal"
  aria-labelledby="artist-title"
></dialog>

<!-- Albums section -->
<!-- <section class="albums">
      <h3 class="albums-title">Albums</h3>
      <ul class="albums-list">
        <li class="album">
          <h4 class="album-title">Ghost Gardens</h4>

          <table class="tracks-table">
            <thead>
              <tr>
                <th scope="col">Track</th>
                <th scope="col">Time</th>
                <th scope="col">Link</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Rip Me Apart</td>
                <td>3:02</td>
                <td>
                  <a href="#" aria-label="Play Rip Me Apart"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>

              <tr>
                <td>Dig</td>
                <td>2:54</td>
                <td>
                  <a href="#" aria-label="Play Dig"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>

              <tr>
                <td>Tremor</td>
                <td>2:02</td>
                <td>
                  <a href="#" aria-label="Play Tremor"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Tremor</td>
                <td>2:02</td>
                <td>
                  <a href="#" aria-label="Play Tremor"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Tremor</td>
                <td>2:02</td>
                <td>
                  <a href="#" aria-label="Play Tremor"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </li>
        <li class="album">
          <h4 class="album-title">Ghost Gardens</h4>

          <table class="tracks-table">
            <thead>
              <tr>
                <th>Track</th>
                <th>Time</th>
                <th>Link</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Rip Me Apart</td>
                <td>3:02</td>
                <td>
                  <a href="#" aria-label="Play Rip Me Apart"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>

              <tr>
                <td>Dig</td>
                <td>2:54</td>
                <td>
                  <a href="#" aria-label="Play Dig"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>

              <tr>
                <td>Tremor</td>
                <td>2:02</td>
                <td>
                  <a href="#" aria-label="Play Tremor"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </li>
        <li class="album">
          <h4 class="album-title">Ghost Gardens</h4>

          <table class="tracks-table">
            <thead>
              <tr>
                <th>Track</th>
                <th>Time</th>
                <th>Link</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Rip Me Apart</td>
                <td>3:02</td>
                <td>
                  <a href="#" aria-label="Play Rip Me Apart"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>

              <tr>
                <td>Dig</td>
                <td>2:54</td>
                <td>
                  <a href="#" aria-label="Play Dig"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>

              <tr>
                <td>Tremor</td>
                <td>2:02</td>
                <td>
                  <a href="#" aria-label="Play Tremor"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Tremor</td>
                <td>2:02</td>
                <td>
                  <a href="#" aria-label="Play Tremor"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Tremor</td>
                <td>2:02</td>
                <td>
                  <a href="#" aria-label="Play Tremor"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </li>
        <li class="album">
          <h4 class="album-title">Ghost Gardens</h4>

          <table class="tracks-table">
            <thead>
              <tr>
                <th>Track</th>
                <th>Time</th>
                <th>Link</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Rip Me Apart</td>
                <td>3:02</td>
                <td>
                  <a href="#" aria-label="Play Rip Me Apart"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>

              <tr>
                <td>Dig</td>
                <td>2:54</td>
                <td>
                  <a href="#" aria-label="Play Dig"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>

              <tr>
                <td>Tremor</td>
                <td>2:02</td>
                <td>
                  <a href="#" aria-label="Play Tremor"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Tremor</td>
                <td>2:02</td>
                <td>
                  <a href="#" aria-label="Play Tremor"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Tremor</td>
                <td>2:02</td>
                <td>
                  <a href="#" aria-label="Play Tremor"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </li>
        <li class="album">
          <h4 class="album-title">Ghost Gardens</h4>

          <table class="tracks-table">
            <thead>
              <tr>
                <th>Track</th>
                <th>Time</th>
                <th>Link</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Rip Me Apart</td>
                <td>3:02</td>
                <td>
                  <a href="#" aria-label="Play Rip Me Apart"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>

              <tr>
                <td>Dig</td>
                <td>2:54</td>
                <td>
                  <a href="#" aria-label="Play Dig"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>

              <tr>
                <td>Tremor</td>
                <td>2:02</td>
                <td>
                  <a href="#" aria-label="Play Tremor"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </li>
        <li class="album">
          <h4 class="album-title">Ghost Gardens</h4>

          <table class="tracks-table">
            <thead>
              <tr>
                <th>Track</th>
                <th>Time</th>
                <th>Link</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Rip Me Apart</td>
                <td>3:02</td>
                <td>
                  <a href="#" aria-label="Play Rip Me Apart"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>

              <tr>
                <td>Dig</td>
                <td>2:54</td>
                <td>
                  <a href="#" aria-label="Play Dig"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>

              <tr>
                <td>Tremor</td>
                <td>2:02</td>
                <td>
                  <a href="#" aria-label="Play Tremor"
                    ><svg class="play-icon" width="24" height="24">
                      <use href="../assets/icons/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </li>
      </ul>
    </section> -->
