<section class="container">
  <div class="artists-section">
    <div class="artists-section-head">
      <p class="artists-section-label">Artists</p>
      <h2 class="artists-section-title">Explore Your New Favorite Artists</h2>
    </div>
    <div class="artists-layout">
      <ul class="artists-list js-artists">
        <!-- <li class="artist-card" data-id="${id}">
          <img
            class="artist-card-img"
            src="../assets/img/image (1).png"
            alt="${name}"
            loading="lazy"
          />
          <div class="artist-card-body">
            <ul class="tag-list">
              <li class="tags">Alternative</li>
              <li class="tags">Pop</li>
              <li class="tags">Rock</li>
              <li class="tags">Indie</li>
            </ul>
            <h3 class="artist-card-name">Ren</h3>
            <p class="artist-card-desc">
              A look at the influential figures who shaped jazz music history.
            </p>
            <button class="artist-card-link" type="button">
              Learn More<svg class="icon icon-play" width="20" height="20">
                <use href="../assets/icons/sprite.svg#icon-play"></use>
              </svg>
            </button>
          </div>
        </li> -->
      </ul>
    </div>
    <button class="load-more-btn btn-hover" type="button">
      Load More
      <svg class="icon icon-arrow" width="20" height="20">
        <use href="../assets/icons/sprite.svg#icon-right-arrow-alt"></use>
      </svg>
    </button>
  </div>
</section>
