<section class="feedbacks" id="reviews">
  <h2 class="visually-hidden">Feedbacks our visitors</h2>
  <div class="container">
    <div class="feedback-swiper swiper">
      <ul class="feedback-swiper-wrapper swiper-wrapper">
        <li class="feedback-swiper-slide swiper-slide">
          <div class="feedback-card">
            <div class="feedback-stars-rating" data-score="0"></div>
            <p class="feedback-text"></p>
            <p class="feedback-name"></p>
          </div>
        </li>
        <li class="feedback-swiper-slide swiper-slide">
          <div class="feedback-card">
            <div class="feedback-stars-rating" data-score="0"></div>
            <p class="feedback-text"></p>
            <p class="feedback-name"></p>
          </div>
        </li>
        <li class="feedback-swiper-slide swiper-slide">
          <div class="feedback-card">
            <div class="feedback-stars-rating" data-score="0"></div>
            <p class="feedback-text"></p>
            <p class="feedback-name"></p>
          </div>
        </li>
        <li class="feedback-swiper-slide swiper-slide">
          <div class="feedback-card">
            <div class="feedback-stars-rating" data-score="0"></div>
            <p class="feedback-text"></p>
            <p class="feedback-name"></p>
          </div>
        </li>
      </ul>
      <div class="feedback-swiper-pagination swiper-pagination"></div>
      <button
        class="feedback-btn-prev"
        type="button"
        aria-label="Попередній відгук"
      >
        <svg
          class="feedback-btn-icon"
          width="24"
          height="24"
          aria-hidden="true"
        >
          <use href="/assets/icons/sprite.svg#icon-left-arrow-alt"></use>
        </svg>
      </button>
      <button
        class="feedback-btn-next"
        type="button"
        aria-label="Наступний відгук"
      >
        <svg
          class="feedback-btn-icon"
          width="24"
          height="24"
          aria-hidden="true"
        >
          <use href="/assets/icons/sprite.svg#icon-right-arrow-alt"></use>
        </svg>
      </button>
    </div>

    <button class="btn-feedbaks" type="button">Leave feedback</button>
  </div>
</section>
