<section
  class="feedback section"
  aria-labelledby="feedback-heading"
  id="feedback"
>
  <h2 class="visually-hidden">Feedbacks our visitors</h2>
  <div class="container">
    <div class="feedback-swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slider">
          <div class="feedback-card">
            <div class="feedback-stars-rating"></div>
            <p class="feedback-text">
              "ArtistsHub has transformed the way I discover new music. It's
              like having a personal DJ that knows my taste perfectly!"
            </p>
            <p class="feedback-name">Emily Johnson</p>
          </div>
        </div>
      </div>
      <div class="feedback-pagination-wrap">
        <div class="swiper-pagination" aria-label="Пагінація відгуків"></div>
      </div>
      <button
        class="feedback-prev"
        type="button"
        aria-label="Попередній відгук"
      >
        <svg
          class="feedback-nav-icon"
          width="24"
          height="24"
          aria-hidden="true"
        >
          <use href="/assets/icons/sprite.svg#icon-left-arrow-alt"></use>
        </svg>
      </button>
      <button class="feedback-next" type="button" aria-label="Наступний відгук">
        <svg
          class="feedback-nav-icon"
          width="24"
          height="24"
          aria-hidden="true"
        >
          <use href="/assets/icons/sprite.svg#icon-right-arrow-alt"></use>
        </svg>
      </button>
    </div>
    <button class="btn btn-hover" type="button">Leave feedback</button>
  </div>
</section>
