<header class="container">
  <nav class="navbar-menu">
    <a class="logo-link" href="../index.html">
      <svg class="logo-svg" width="110" height="32">
        <use href="../assets/icons/sprite.svg#icon-logo1"></use>
      </svg>
    </a>
    <button class="mobil-menu-btn" type="button">
      <svg class="mobil-menu-svg" width="24" height="24">
        <use href="../assets/icons/sprite.svg#icon-menu-alt-right"></use>
      </svg>
    </button>
    <ul class="navbar-list">
      <li class="navbar-item">
        <a class="navbar-item-link" href="#">Artists</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-item-link" href="#">About Us</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-item-link" href="#">Reviews</a>
      </li>
    </ul>
  </nav>
</header>
