<section class="hero section">
  <div class="container">
    <div class="hero-wrapper">
      <h1 class="hero-title" id="hero-title">
        Discover Your Next Favorite Artist Today
      </h1>
      <p class="hero-description">
        Dive into a world of music discoveries with ArtistsHub - your personal
        guide to the boundless universe of sound. Explore, filter, and learn
        about your favorite artists all in one place.
      </p>
      <a href="#" class="explore-btn button">
        Explore Artists
        <svg class="arrow" width="15" height="20">
          <use href="../img/sprite.svg#icon-hero-arrow"></use>
        </svg>
      </a>
    </div>

    <div class="bg-image"></div>
  </div>
</section>
