<section class="hero section js-loader-container">
  <div class="container">
    <div class="hero-wrapper">
      <h1 class="hero-title" id="hero-title">
        Discover Your Next Favorite Artist Today
      </h1>
      <p class="hero-description">
        Dive into a world of music discoveries with ArtistsHub - your personal
        guide to the boundless universe of sound. Explore, filter, and learn
        about your favorite artists all in one place.
      </p>
      <a href="#" class="explore-btn button btn-hover">
        Explore Artists
        <svg class="arrow" width="24" height="24">
          <use href="../assets/icons/sprite.svg#icon-hero-arrow"></use>
        </svg>
      </a>
    </div>

    <div class="hero-photo-box">
      <div class="hero-column-up">
        <picture class="hero-image-up">
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/hero/mobile-hero/mobile-1.webp    1x,
              /assets/images/hero/mobile-hero/mobile-1@2x.webp 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/hero/tablet-hero/hero-tablet01.webp    1x,
              /assets/images/hero/tablet-hero/hero-tablet01@2x.webp 2x
            "
          />
          <source
            srcset="
              /assets/images/hero/dekstop-hero/hero-dekstop01.webp    1x,
              /assets/images/hero/dekstop-hero/hero-dekstop01@2x.webp 2x
            "
          />
          <img
            src="/assets/images/hero/dekstop-hero/hero-dekstop01.webp"
            alt="hero-photo"
          />
        </picture>
        <picture class="hero-image-up">
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/hero/mobile-hero/mobile-2.webp    1x,
              /assets/images/hero/mobile-hero/mobile-2@2x.webp 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/hero/tablet-hero/hero-tablet02.webp    1x,
              /assets/images/hero/tablet-hero/hero-tablet02@2x.webp 2x
            "
          />
          <source
            srcset="
              /assets/images/hero/dekstop-hero/hero-dekstop02.webp    1x,
              /assets/images/hero/dekstop-hero/hero-dekstop02@2x.webp 2x
            "
          />
          <img
            src="/assets/images/hero/dekstop-hero/hero-dekstop02.webp"
            alt="hero-photo"
          />
        </picture>
        <picture class="hero-image-up">
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/hero/mobile-hero/mobile-3.webp    1x,
              /assets/images/hero/mobile-hero/mobile-3@2x.webp 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/hero/tablet-hero/hero-tablet03.webp    1x,
              /assets/images/hero/tablet-hero/hero-tablet03@2x.webp 2x
            "
          />
          <source
            srcset="
              /assets/images/hero/dekstop-hero/hero-dekstop03.webp    1x,
              /assets/images/hero/dekstop-hero/hero-dekstop03@2x.webp 2x
            "
          />
          <img
            src="/assets/images/hero/dekstop-hero/hero-dekstop03.webp"
            alt="hero-photo"
          />
        </picture>

        <picture class="hero-image-up">
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/hero/mobile-hero/mobile-1.webp?v=1    1x,
              /assets/images/hero/mobile-hero/mobile-1@2x.webp?v=1 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/hero/tablet-hero/hero-tablet01.webp?v=1    1x,
              /assets/images/hero/tablet-hero/hero-tablet01@2x.webp?v=1 2x
            "
          />
          <source
            srcset="
              /assets/images/hero/dekstop-hero/hero-dekstop01.webp?v=1    1x,
              /assets/images/hero/dekstop-hero/hero-dekstop01@2x.webp?v=1 2x
            "
          />
          <img
            src="/assets/images/hero/dekstop-hero/hero-dekstop01.webp?v=1"
            alt="hero-photo"
          />
        </picture>
        <picture class="hero-image-up">
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/hero/mobile-hero/mobile-2.webp?v=1    1x,
              /assets/images/hero/mobile-hero/mobile-2@2x.webp?v=1 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/hero/tablet-hero/hero-tablet02.webp?v=1    1x,
              /assets/images/hero/tablet-hero/hero-tablet02@2x.webp?v=1 2x
            "
          />
          <source
            srcset="
              /assets/images/hero/dekstop-hero/hero-dekstop02.webp?v=1    1x,
              /assets/images/hero/dekstop-hero/hero-dekstop02@2x.webp?v=1 2x
            "
          />
          <img
            src="/assets/images/hero/dekstop-hero/hero-dekstop02.webp?v=1"
            alt="hero-photo"
          />
        </picture>
        <picture class="hero-image-up">
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/hero/mobile-hero/mobile-3.webp?v=1    1x,
              /assets/images/hero/mobile-hero/mobile-3@2x.webp?v=1 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/hero/tablet-hero/hero-tablet03.webp?v=1    1x,
              /assets/images/hero/tablet-hero/hero-tablet03@2x.webp?v=1 2x
            "
          />
          <source
            srcset="
              /assets/images/hero/dekstop-hero/hero-dekstop03.webp?v=1    1x,
              /assets/images/hero/dekstop-hero/hero-dekstop03@2x.webp?v=1 2x
            "
          />
          <img
            src="/assets/images/hero/dekstop-hero/hero-dekstop03.webp?v=1"
            alt="hero-photo"
          />
        </picture>

        <picture class="hero-image-up">
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/hero/mobile-hero/mobile-1.webp?v=1    1x,
              /assets/images/hero/mobile-hero/mobile-1@2x.webp?v=1 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/hero/tablet-hero/hero-tablet01.webp?v=1    1x,
              /assets/images/hero/tablet-hero/hero-tablet01@2x.webp?v=1 2x
            "
          />
          <source
            srcset="
              /assets/images/hero/dekstop-hero/hero-dekstop01.webp?v=1    1x,
              /assets/images/hero/dekstop-hero/hero-dekstop01@2x.webp?v=1 2x
            "
          />
          <img
            src="/assets/images/hero/dekstop-hero/hero-dekstop01.webp?v=1"
            alt="hero-photo"
          />
        </picture>
        <picture class="hero-image-up">
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/hero/mobile-hero/mobile-2.webp?v=1    1x,
              /assets/images/hero/mobile-hero/mobile-2@2x.webp?v=1 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/hero/tablet-hero/hero-tablet02.webp?v=1    1x,
              /assets/images/hero/tablet-hero/hero-tablet02@2x.webp?v=1 2x
            "
          />
          <source
            srcset="
              /assets/images/hero/dekstop-hero/hero-dekstop02.webp?v=1    1x,
              /assets/images/hero/dekstop-hero/hero-dekstop02@2x.webp?v=1 2x
            "
          />
          <img
            src="/assets/images/hero/dekstop-hero/hero-dekstop02.webp?v=1"
            alt="hero-photo"
          />
        </picture>
        <picture class="hero-image-up">
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/hero/mobile-hero/mobile-3.webp?v=1    1x,
              /assets/images/hero/mobile-hero/mobile-3@2x.webp?v=1 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/hero/tablet-hero/hero-tablet03.webp?v=1    1x,
              /assets/images/hero/tablet-hero/hero-tablet03@2x.webp?v=1 2x
            "
          />
          <source
            srcset="
              /assets/images/hero/dekstop-hero/hero-dekstop03.webp?v=1    1x,
              /assets/images/hero/dekstop-hero/hero-dekstop03@2x.webp?v=1 2x
            "
          />
          <img
            src="/assets/images/hero/dekstop-hero/hero-dekstop03.webp?v=1"
            alt="hero-photo"
          />
        </picture>
      </div>
      <div class="hero-column-down">
        <picture class="hero-image-down">
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/hero/mobile-hero/mobile-4.webp    1x,
              /assets/images/hero/mobile-hero/mobile-4@2x.webp 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/hero/tablet-hero/hero-tablet04.webp    1x,
              /assets/images/hero/tablet-hero/hero-tablet04@2x.webp 2x
            "
          />
          <source
            srcset="
              /assets/images/hero/dekstop-hero/hero-dekstop04.webp    1x,
              /assets/images/hero/dekstop-hero/hero-dekstop04@2x.webp 2x
            "
          />
          <img
            src="/assets/images/hero/dekstop-hero/hero-dekstop04.webp"
            alt="hero-photo"
          />
        </picture>

        <picture class="hero-image-down">
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/hero/mobile-hero/mobile-5.webp    1x,
              /assets/images/hero/mobile-hero/mobile-5@2x.webp 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/hero/tablet-hero/hero-tablet05.webp    1x,
              /assets/images/hero/tablet-hero/hero-tablet05@2x.webp 2x
            "
          />
          <source
            srcset="
              /assets/images/hero/dekstop-hero/hero-dekstop05.webp    1x,
              /assets/images/hero/dekstop-hero/hero-dekstop05@2x.webp 2x
            "
          />
          <img
            src="/assets/images/hero/dekstop-hero/hero-dekstop05.webp"
            alt="hero-photo"
          />
        </picture>

        <picture class="hero-image-down">
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/hero/mobile-hero/mobile-6.webp    1x,
              /assets/images/hero/mobile-hero/mobile-6@2x.webp 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/hero/tablet-hero/hero-tablet06.webp    1x,
              /assets/images/hero/tablet-hero/hero-tablet06@2x.webp 2x
            "
          />
          <source
            srcset="
              /assets/images/hero/dekstop-hero/hero-dekstop06.webp    1x,
              /assets/images/hero/dekstop-hero/hero-dekstop06@2x.webp 2x
            "
          />
          <img
            src="/assets/images/hero/dekstop-hero/hero-dekstop06.webp"
            alt="hero-photo"
          />
        </picture>

        <picture class="hero-image-down">
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/hero/mobile-hero/mobile-4.webp?v=1    1x,
              /assets/images/hero/mobile-hero/mobile-4@2x.webp?v=1 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/hero/tablet-hero/hero-tablet04.webp?v=1    1x,
              /assets/images/hero/tablet-hero/hero-tablet04@2x.webp?v=1 2x
            "
          />
          <source
            srcset="
              /assets/images/hero/dekstop-hero/hero-dekstop04.webp?v=1    1x,
              /assets/images/hero/dekstop-hero/hero-dekstop04@2x.webp?v=1 2x
            "
          />
          <img
            src="/assets/images/hero/dekstop-hero/hero-dekstop04.webp?v=1"
            alt="hero-photo"
          />
        </picture>

        <picture class="hero-image-down">
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/hero/mobile-hero/mobile-5.webp?v=1    1x,
              /assets/images/hero/mobile-hero/mobile-5@2x.webp?v=1 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/hero/tablet-hero/hero-tablet05.webp?v=1    1x,
              /assets/images/hero/tablet-hero/hero-tablet05@2x.webp?v=1 2x
            "
          />
          <source
            srcset="
              /assets/images/hero/dekstop-hero/hero-dekstop05.webp?v=1    1x,
              /assets/images/hero/dekstop-hero/hero-dekstop05@2x.webp?v=1 2x
            "
          />
          <img
            src="/assets/images/hero/dekstop-hero/hero-dekstop05.webp?v=1"
            alt="hero-photo"
          />
        </picture>

        <picture class="hero-image-down">
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/hero/mobile-hero/mobile-6.webp?v=1    1x,
              /assets/images/hero/mobile-hero/mobile-6@2x.webp?v=1 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/hero/tablet-hero/hero-tablet06.webp?v=1    1x,
              /assets/images/hero/tablet-hero/hero-tablet06@2x.webp?v=1 2x
            "
          />
          <source
            srcset="
              /assets/images/hero/dekstop-hero/hero-dekstop06.webp?v=1    1x,
              /assets/images/hero/dekstop-hero/hero-dekstop06@2x.webp?v=1 2x
            "
          />
          <img
            src="/assets/images/hero/dekstop-hero/hero-dekstop06.webp?v=1"
            alt="hero-photo"
          />
        </picture>

        <picture class="hero-image-down">
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/hero/mobile-hero/mobile-4.webp?v=1    1x,
              /assets/images/hero/mobile-hero/mobile-4@2x.webp?v=1 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/hero/tablet-hero/hero-tablet04.webp?v=1    1x,
              /assets/images/hero/tablet-hero/hero-tablet04@2x.webp?v=1 2x
            "
          />
          <source
            srcset="
              /assets/images/hero/dekstop-hero/hero-dekstop04.webp?v=1    1x,
              /assets/images/hero/dekstop-hero/hero-dekstop04@2x.webp?v=1 2x
            "
          />
          <img
            src="/assets/images/hero/dekstop-hero/hero-dekstop04.webp?v=1"
            alt="hero-photo"
          />
        </picture>

        <picture class="hero-image-down">
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/hero/mobile-hero/mobile-5.webp?v=1    1x,
              /assets/images/hero/mobile-hero/mobile-5@2x.webp?v=1 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/hero/tablet-hero/hero-tablet05.webp?v=1    1x,
              /assets/images/hero/tablet-hero/hero-tablet05@2x.webp?v=1 2x
            "
          />
          <source
            srcset="
              /assets/images/hero/dekstop-hero/hero-dekstop05.webp?v=1    1x,
              /assets/images/hero/dekstop-hero/hero-dekstop05@2x.webp?v=1 2x
            "
          />
          <img
            src="/assets/images/hero/dekstop-hero/hero-dekstop05.webp?v=1"
            alt="hero-photo"
          />
        </picture>

        <picture class="hero-image-down">
          <source
            media="(max-width: 767px)"
            srcset="
              /assets/images/hero/mobile-hero/mobile-6.webp?v=1    1x,
              /assets/images/hero/mobile-hero/mobile-6@2x.webp?v=1 2x
            "
          />
          <source
            media="(max-width: 1439px)"
            srcset="
              /assets/images/hero/tablet-hero/hero-tablet06.webp?v=1    1x,
              /assets/images/hero/tablet-hero/hero-tablet06@2x.webp?v=1 2x
            "
          />
          <source
            srcset="
              /assets/images/hero/dekstop-hero/hero-dekstop06.webp?v=1    1x,
              /assets/images/hero/dekstop-hero/hero-dekstop06@2x.webp?v=1 2x
            "
          />
          <img
            src="/assets/images/hero/dekstop-hero/hero-dekstop06.webp?v=1"
            alt="hero-photo"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
