/* ABOUT */
.about {
  padding: 64px 0;
}

.about-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 48px;
}

/* MEDIA */
.about-media {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.about-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 0 18px 50px rgba(0, 0, 0, 0.55);
}

/* CONTENT */
.about-content {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.about-icon {
  display: block;
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
  fill: #fff;
}

.about-title {
  margin: 0 0 16px;
  font-size: 44px;
  line-height: 1.2;
}

.about-text {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  max-width: 320px;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .about {
    padding: 64px 0;
  }

  .about-container {
    gap: 24px;
  }

  .about-media {
    max-width: 704px;
  }

  .about-content {
    max-width: 704px;
  }

  .about-icon {
    width: 80px;
    height: 80px;
  }

  .about-title {
    font-size: 60px;
    line-height: 1.2;
  }

  .about-text {
    max-width: 704px;
    font-size: 20px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .about {
    padding: 112px 0;
  }

  .about-container {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    gap: 32px;
  }

  .about-media {
    margin: 0;
    flex: 0 0 640px;
    max-width: 640px;
  }

  .about-img {
    width: 640px;
    height: 665px;
    border-radius: 16px;
    object-fit: cover;
  }

  .about-content {
    margin: 0;
    flex: 0 0 640px;
    max-width: 640px;
  }

  .about-text {
    max-width: 640px;
    font-size: 20px;
  }
}
