/* #region Dialog styles */
.artist-modal {
  padding: 0;
  border: none;
  border-radius: 16px;
  outline: none;

  background-color: transparent;
  color: inherit;
}

.artist-modal::backdrop {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease-in;
}

.artist-modal[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.25);
}

.artist-modal-content {
  padding: 52px 8px;
  max-width: 288px;

  background-color: #060307;
  color: #fff;

  position: relative;

  transform: translateY(24px);
  opacity: 0;
  transition:
    transform 0.3s ease-in,
    opacity 0.3s ease-in;

  overflow-y: auto;
  max-height: 90vh; /* КРИТИЧНО */
}

.artist-modal[open] .artist-modal-content {
  transform: translateY(0);
  opacity: 1;
}

.artist-modal.closing .artist-modal-content {
  transform: translateY(24px);
  opacity: 0;
}

.artist-modal.closing::backdrop {
  background-color: rgba(0, 0, 0, 0);
}

@starting-style {
  .artist-modal[open] .artist-modal-content {
    transform: translateY(32px);
    opacity: 0;
  }
}

.artist-modal,
.artist-modal-content {
  will-change: opacity, transform;
  backface-visibility: hidden;
}

@media only screen and (min-width: 768px) {
  .artist-modal-content {
    padding: 64px 24px;
    max-width: 702px;
  }
}

@media only screen and (min-width: 1440px) {
  .artist-modal-content {
    padding: 64px;
    max-width: 1312px;
  }
}

body:has(dialog[open]) {
  /*проверяю работу своего хедера*/
  overflow: hidden;
}
/* #endregion */

/* #region Buttons styles */
.modal-btn-close {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;

  border: none;
  background-color: transparent;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: opacity 0.3s ease;

  .btn-close-icon {
    fill: currentColor;
  }
}

.modal-btn-close:hover {
  opacity: 0.6;
}

.modal-btn-close:focus-visible {
  outline: none;
  opacity: 0.2;
}
/* #endregion */

/* #region Artist-content styles */
.artist-title {
  font-size: 20px;
  text-align: center;

  margin-bottom: 48px;
}

@media only screen and (min-width: 768px) {
  .artist-title {
    font-size: 32px;
  }
}

.artist-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .artist-wrapper {
    margin-bottom: 48px;
  }
}
@media only screen and (min-width: 1440px) {
  .artist-wrapper {
    flex-direction: row;
    align-items: flex-start;
  }
}

.artist-ill-wrapper {
  width: 272px;
  height: 167px;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 16px;
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .artist-ill-wrapper {
    width: 654px;
    height: 402px;
  }
}

@media only screen and (min-width: 1440px) {
  .artist-ill-wrapper {
    width: 576px;
    height: 354px;
  }
}

.artist-ill {
  width: 100%;
  height: auto;
}

.artist-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .artist-info-wrapper {
    gap: 24px;
  }
}

/* #endregion */

/* #region Meta styles */
.meta {
  margin: 0;
  padding: 0;

  display: grid;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .meta {
    grid-template-columns: 146px 1fr;
    gap: 24px;
  }
}

dd {
  margin: 0;
}

dt {
  font-weight: 600;
}
/* #endregion */

/* #region Biography styles */

.biography-caption {
  font-weight: 600;
  font-size: 18px;
}
.biography-descr-wrapper {
  max-height: 297px;
  overflow-y: auto;
}

@media only screen and (min-width: 768px) {
  .biography-descr-wrapper {
    max-height: 108px;
  }
}

@media only screen and (min-width: 1440px) {
  .biography-descr-wrapper {
    max-height: 135px;
  }
}
/* #endregion */

/* #region Genres styles */
.genres-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  font-size: 16px;
}

.genre-item {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 4px 10px;
  display: inline-block;
  background: rgba(255, 255, 255, 0);
}
/* #endregion */

/* #region Albums styles */

.albums-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  font-family: Epilogue;

  margin-bottom: 16px;
}

.albums-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media only screen and (min-width: 768px) {
  .albums-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (min-width: 1440px) {
  .albums-list {
    justify-content: flex-start;
  }
}

.album {
  border-radius: 16px;
  padding: 14px 11px;
  width: 272px;
  height: auto;

  background: #1e1c1f;
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .album {
    width: 311px;
  }
}

.album-title {
  font-weight: 600;
  font-size: 16px;

  margin-bottom: 12px;

  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: help;
}

/* #endregion */

/* #region Tracks styles */
.tracks-scroll {
  max-height: 480px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 8px;
}
.tracks-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.tracks-table thead th {
  font-weight: 600;
  font-size: 8px;
  text-align: left;

  background: rgba(255, 255, 255, 0.05);
}

.tracks-table thead th:first-child {
  border-bottom-left-radius: 8px;
  padding: 4px 0;
  padding-left: 12px;
}

.tracks-table thead th:last-child {
  border-bottom-right-radius: 8px;
  padding-right: 4px;
}

.tracks-table tbody td {
  font-size: 12px;
}

.tracks-table tbody td:first-child {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  padding: 7px 0;
  padding-left: 12px;
  cursor: help;
}

.tracks-table tbody td:last-child {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.tracks-table tbody tr:nth-of-type(even) {
  background: rgba(255, 255, 255, 0.1);
}

.tracks-table th,
.tracks-table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tracks-table th:nth-child(3),
.tracks-table td:nth-child(3) {
  width: 35px;
  text-align: center;
}

.tracks-table th:nth-child(2),
.tracks-table td:nth-child(2) {
  width: 102px;
  text-align: center;
}

.play-icon {
  fill: rgba(255, 255, 255);
  transition: opacity 0.3s ease;
  display: block;
  margin: 0 auto;
}

.play-icon:hover {
  opacity: 0.6;
}

.play-icon:focus {
  outline: none;
  opacity: 0.2;
}
/* #endregion */
