.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;

  box-shadow:
    0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #764191;
  border: none;
  border-radius: 12px;

  width: 288px;
  height: 47px;
  padding: 10px 24px;

  color: #fff;

  margin: 0 auto;
  margin-top: 60px;

  transition: ease-in 200ms;
}
@media only screen and (min-width: 768px) {
  .btn {
    width: 158px;
  }
}
@media only screen and (min-width: 1440px) {
  .btn {
    width: 177px;
  }
}

.btn-hover:hover {
  box-shadow:
    0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #764191;
  opacity: 0.6;
}
