/* #region mobilestyle */
.feedbacks {
  padding: 64px 0;
  position: relative;
}
.feedback-swiper {
}

.feedback-swiper-wrapper {
}
.swiper-wrapper {
  margin-bottom: 40px;
}

.feedback-swiper-slide {
}

.feedback-card {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.feedback-stars-rating {
  display: flex;
  justify-content: center;
  gap: 4px;
  min-width: 116px;
  min-height: 19px;
}

.feedback-stars-item {
  display: block;
}

.feedback-text {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  text-align: center;
  margin: 0 auto;
  max-width: 288px;
}

.feedback-name {
  font-weight: 600;
  text-align: center;
  margin-bottom: 48px;
}

.feedback-btn-next,
.feedback-btn-prev {
  display: none;
}
.feedback-swiper-pagination {
}
.swiper-pagination {
}

.swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 1;
  transition: all 0.3s ease;
  cursor: pointer;
  pointer-events: auto;
  transition: ease-in 200ms;
}
.swiper-pagination-bullet:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

.btn-feedbaks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;

  box-shadow:
    0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #764191;
  border: none;
  border-radius: 12px;

  width: 100%;
  height: 47px;
  padding: 10px 24px;

  color: #fff;

  margin: 60px auto 0;
  /* margin-top: 60px; */

  transition: ease-in 200ms;

  &:hover {
    box-shadow:
      0 1px 2px 0 rgba(6, 3, 7, 0.05),
      inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
      inset 0 0 0 1px rgba(6, 3, 7, 0.15),
      inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
      inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background: #764191;
    opacity: 0.6;
  }
}
/* #endregion */

@media (min-width: 768px) {
  .feedback-text {
    max-width: 518px;
    font-size: 26x;
  }

  .feedback-btn-next,
  .feedback-btn-prev {
    display: block;
    position: absolute;
    top: 70px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 12px;
    width: 48px;
    height: 48px;
    outline: none;
    z-index: 10;
    cursor: pointer;
    transition: ease-in 150ms;

    &:hover {
      background-color: #1e1c1f;
    }
    &:active {
      border: none;
    }
  }
  .is-disabled {
    background-color: rgba(255, 255, 255, 0.1);
    border: 0px solid rgba(255, 255, 255, 0.1);
    cursor: not-allowed;
  }
  /* .is-disabled > .feedback-btn-icon {
    fill: transparent;
  } */

  .feedback-btn-icon {
    fill: #fff;
  }

  .feedback-btn-next {
    right: 0;
  }
  .feedback-btn-prev {
    left: 0;
  }

  .btn-feedbaks {
    max-width: 177px;
  }
}

@media (min-width: 1440px) {
  .feedback-text {
    max-width: 768px;
    font-size: 32px;
    line-height: 1.3;
  }
  .feedback-btn-next,
  .feedback-btn-prev {
    top: 50px;
  }
}
