.artist-card-placeholder {
  display: block;
  width: 100%;
  height: 177px;
  object-fit: cover;
  object-position: top;
  border-radius: 16px;

  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
}

@media only screen and (min-width: 768px) {
  .artist-card-placeholder {
    height: 432px;
    font-size: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .artist-card-placeholder {
    height: 393px;
  }
}

.artist-ill-wrapper .artist-card-placeholder {
  height: 100%;
}
